
<h1> The Tech Blog </h1>

{{#each posts}}
    <section class="card">
        <a href="/posts/{{id}}" class="card-body">
            <h3 class="card-title">{{title}}</h3></a>
            <h5>Posted by {{user.username}} on {{createdAt}}</h5>
            <p id="card-text">{{content}}</p>
    </section>
{{/each}}
