<h1></h1>
  <section class="card">
      <a href="/posts/{{id}}" class="card-body">
        <h3 class="card-title">{{title}}</h3> 
        <h4>Posted by {{user.username}} on {{createdAt}}</h4>
        <p class="card-text">{{content}}</p>
    </a>
  </section>

<script src="/js/dashboard.js"></script>